{% extends 'base.html' %}
{% block container %}
    <div class="row">
        <div class="col-12">
            <!-- Recent Order Table -->
            <div class="card card-table-border-none" id="recent-orders">
                <div class="card-header justify-content-between">
                    <h2>Ordenes recientes</h2>
                    <div class="date-range-report ">
                        <span></span>
                    </div>
                </div>
                <div class="card-body pt-0 pb-5">
                    <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                        <thead>
                        <tr>
                            <th>Orden ID</th>
                            <th>Productos </th>
                            <th class="d-none d-lg-table-cell">Unidades</th>
                            <th class="d-none d-lg-table-cell">Fecha</th>
                            <th class="d-none d-lg-table-cell">Costo</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.number }}</td>
                                <td>
                                    <a class="text-dark" href="">{{ order.product.name }}</a>
                                </td>
                                <td class="d-none d-lg-table-cell">{{ order.units }}</td>
                                <td class="d-none d-lg-table-cell">{{ order.created|date:"d-m-Y" }}</td>
                                <td class="d-none d-lg-table-cell">{{ order.total }}</td>
                                <td>
                                    <span class="badge badge-success">{{ order.status }}</span>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown show d-inline-block widget-dropdown">
                                        <a class="dropdown-toggle icon-burger-mini" href="" role="button"
                                           id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false" data-display="static"></a>
                                        <ul class="dropdown-menu dropdown-menu-right"
                                            aria-labelledby="dropdown-recent-order1">
                                            <li class="dropdown-item">
                                                <a href="#">View</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="#">Remove</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                    {% include 'common/paginator.html' with objects=orders %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}