{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div class="row">
        <div class="col-12">
            <!-- Recent Order Table -->
            <div class="card card-table-border-none" id="recent-orders">
                <div class="card-header justify-content-between">
                    <h2>Productos</h2>
                    <div class="date-range-report ">
                        <a href="{% url 'business:product_add' %}" class="btn btn-outline-success btn-sm">Nuevo</a>
                    </div>
                </div>
                <div class="card-body pt-0 pb-5">
                    <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th class="d-none d-lg-table-cell">Unidades disponibles</th>
                            <th class="d-none d-lg-table-cell">Precio original</th>
                            <th class="d-none d-lg-table-cell">Order Cost</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <a class="text-dark" href=""> Paquete panes</a>
                            </td>
                            <td class="d-none d-lg-table-cell">5</td>
                            <td class="d-none d-lg-table-cell">$550</td>
                            <td class="d-none d-lg-table-cell">$230</td>
                            <td>
                                <span class="badge badge-success">Activo</span>
                            </td>
                            <td class="text-right">
                                <div class="dropdown show d-inline-block widget-dropdown">
                                    <a class="dropdown-toggle icon-burger-mini" href="" role="button"
                                       id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false" data-display="static"></a>
                                    <ul class="dropdown-menu dropdown-menu-right"
                                        aria-labelledby="dropdown-recent-order1">
                                        <li class="dropdown-item">
                                            <a href="#">View</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="#">Remove</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="text-dark" href=""> Conchas</a>
                            </td>
                            <td class="d-none d-lg-table-cell">8</td>
                            <td class="d-none d-lg-table-cell">$550</td>
                            <td class="d-none d-lg-table-cell">$230</td>
                            <td>
                                <span class="badge badge-danger">Desactivado</span>
                            </td>
                            <td class="text-right">
                                <div class="dropdown show d-inline-block widget-dropdown">
                                    <a class="dropdown-toggle icon-burger-mini" href="" role="button"
                                       id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false" data-display="static"></a>
                                    <ul class="dropdown-menu dropdown-menu-right"
                                        aria-labelledby="dropdown-recent-order1">
                                        <li class="dropdown-item">
                                            <a href="#">View</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="#">Remove</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}